<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter Page</title>

    <style>
            body{
              background-color: rgb(3, 48, 14); 
            }
            h2{
                color: #f3ebeb;
                text-align: center;
                font-size: 40px;
                text-decoration: underline;
            }
            form {
                margin: 30px auto;
                width: 60%;
                
            }

            table{
                border-color: black;
                width: 100%;
                margin-top: 50px;
                text-align: center;
                border-collapse: collapse;
                border: 1px solid #f99f9f;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 20px gray;
                border-style: groove;
            }

            th, td {
                padding: 15px;
                text-align: center;
                border: 1px solid #ddd;
                border-radius: 10px;
            }

            th{
                background-color: aliceblue;
                font-size: larger;
                font-family: sans-serif;
            }

            td{
                font-size: large;
            }
            tr:hover{
                    background-color: #e6efa9;
            }

            #party{
                font-size: larger;
            }
            
            

            label {
                display: block;
                margin-bottom: 5px;
                text-align: center;
                font-size: larger;
            }
            
            input[type="submit"] {
                padding: 10px 20px;
                background-color: #960808;
                border: none;
                color: white;
                cursor: pointer;
                border-radius: 5px;
                font-size: x-large;
                position: relative;
                margin-top: 30px;
                margin-bottom: 30px;
                left: 90%;
                
            }
            
            input[type="submit"]:hover {
                box-shadow: 0 0  30px rgb(247, 114, 114);
            }
            
        </style>
   
</head>
<body>
    <h2>Vote for Your Candidate</h2>
    <form action="/voter/vote" method="post">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Candidate Name</th>
                    <th>Party</th>
                </tr>
            </thead>
            <tbody>
                <% candidates.forEach(candidate => { %>
                <tr>
                    <td> <input type="radio" id="candidate<%= candidate.candidate_id %>" name="candidate" value="<%= candidate.candidate_id %>"></td>
                    <td> <label for="candidate<%= candidate.candidate_id %>"><%= candidate.name %> </label></td>
                    <td > <label for="candidate<%= candidate.candidate_id %>"><%= candidate.party %></label> </td>
                </tr>
                <% }); %>
               
            </tbody>
        </table>
        
           
       
        <input id="vote" type="submit" value="Vote">
    </form>
</body>
</html>
